<div class="related-news">

    <div class="grid-one" *ngFor="let item of data" routerLink="news-landing">
        <div class="banner-image">
            <img src="{{item.image}}">
            <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
            <div class="lower-buttons">
                <div class="sources">
                    <button id="source1" class="active"> Source 1</button>
                    <button id="source2"> Source 1</button>
                    <button id="source3"> Source 1</button>
                    <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="banner-contents">
            <div class="category green">
                <a href="politics">Politics</a>
            </div>
            <!-- category green -->
            <div class="description">
                <p>{{item.description}}}</p>
            </div>
            <div class="occurance">
                <p class="grey" href="">{{item.occurance}}</p>
            </div>
            <!-- occurance -->
            <div class="views grey">
                <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{item.views}}</p>
            </div>
            <!-- views grey -->
        </div>
        <!-- contents -->
    </div>
    <!-- grid-one -->
</div>