<p>
    jquerycorosel works!
</p>


<h3>Around the world</h3>

<button class="view-all" routerLink="/news-list">  view more <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
<div class="atw-wrapper">
    <section class="regular slider">
        <div class="card">
            <div class="card-body">
                <div class="col-sm-12" style="width:800px; height:500px;">
                    <div class="news1" *ngFor="let item of data; let i = index" routerLink="/news-landing">
                        <div class="grid-one col-md-6">
                            <img src={{item.image}}>
                            <div class="contents">
                                <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                <div class="sources">
                                    <button id="source1" class="active"> Source 1</button>
                                    <button id="source2"> Source 1</button>
                                    <button id="source3"> Source 1</button>
                                </div>
                            </div>
                            <!-- contents -->
                        </div>
                        <!-- grid-one -->
                        <div class="grid-two col-md-6">
                            <div class="category green">
                                <a href="politics">Politics</a>
                            </div>
                            <!-- category green -->
                            <h3>{{item.title}}</h3>
                            <div class="occurance">
                                <a class="grey" href="">{{item.occurance}}}</a>
                            </div>
                            <!-- occurance -->
                            <div class="views grey">
                                <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{item.views}}}</p>
                            </div>
                            <!-- views grey -->
                            <div class="bookmark">
                                <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                            </div>
                            <!-- bookmark -->
                            <div class="description">
                                <p>{{item.description}}</p>
                            </div>
                            <!-- description -->
                        </div>
                    </div>
                </div>
                <!-- grid-two -->
            </div>
        </div>
    </section>
</div>