<div class="categoryBackground"></div>
<div id="section-two" class="container">
    <div class="topic-name">
        <h2>Politics</h2>
    </div>
    <div id="scandal-watch">
        <h2>HeadLines</h2>
        <button class="view-all">view more <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        <div class="underline"></div>
        <div class="grid-one-big">
            <!-- <div class="banner-image">
							<img src="http://placehold.it/550x225">
							<div class="banner-overlay"></div>
						</div> -->
            <div class="slider">
                <div><img src="http://placehold.it/550x225"></div>
                <div><img src="http://placehold.it/550x225"></div>
                <div><img src="http://placehold.it/550x225"></div>
                <div><img src="http://placehold.it/550x225"></div>
            </div>
        </div>
        <!-- grid-one-big -->
        <h3>THINK TANK</h3>
        <div class="underline"></div>
        <div class="think-tank">
            <div class="grid-one">
                <div class="banner-image">
                    <img src="http://www.placehold.it/270x180">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="lower-buttons">
                        <div class="sources">
                            <button id="source1" class="active"> Source 1</button>
                            <button id="source2"> Source 1</button>
                            <button id="source3"> Source 1</button>
                            <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="banner-contents">
                    <div class="category green">
                        <a href="politics">Politics</a>
                    </div>
                    <!-- category green -->
                    <div class="description">
                        <p>Since the nation's early days, scandals of all kinds have threatened to derail many presidential campaigns. Some candidates survived. Other didn't.Since the nation's early days, scandals of all kinds have threatened to derail many
                            presidential campaigns. Some candidates survived. Other didn't</p>
                    </div>
                    <div class="occurance">
                        <p class="grey" href="">October 6, 2017</p>
                    </div>
                    <!-- occurance -->
                    <div class="views grey">
                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                    </div>
                    <!-- views grey -->
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-one">
                <div class="banner-image">
                    <img src="http://www.placehold.it/270x180">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="lower-buttons">
                        <div class="sources">
                            <button id="source1" class="active"> Source 1</button>
                            <button id="source2"> Source 1</button>
                            <button id="source3"> Source 1</button>
                            <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="banner-contents">
                    <div class="category green">
                        <a href="politics">Politics</a>
                    </div>
                    <!-- category green -->
                    <div class="description">
                        <p>Since the nation's early days, scandals of all kinds have threatened to derail many presidential campaigns. Some candidates survived. Other didn't.Since the nation's early days, scandals of all kinds have threatened to derail many
                            presidential campaigns. Some candidates survived. Other didn't</p>
                    </div>
                    <div class="occurance">
                        <p class="grey" href="">October 6, 2017</p>
                    </div>
                    <!-- occurance -->
                    <div class="views grey">
                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                    </div>
                    <!-- views grey -->
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
        </div>
    </div>
    <!-- scandal-watch -->
    <div id="news-desk">
        <h2>NEWS DESK</h2>
        <div class="underline"></div>
        <button class="view-all">view more <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        <div class="news1">
            <div class="grid-one">
                <img src="http://www.placehold.it/270x180">
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>
                        <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
        <hr>
        <div class="news2">
            <div class="grid-one">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <div class="grid-two">
                <img src="http://www.placehold.it/270x180">
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>
                        <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news2 -->
        <hr>
        <div class="news1">
            <div class="grid-one">
                <img src="http://www.placehold.it/270x180">
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>
                        <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
    </div>
    <!-- news-desk -->
</div>
<!-- section-two -->
<div class="world-news">
    <div class="container">
        <h2>World news</h2>
        <div class="underline"></div>
        <div class="grid-one-big">
            <div class="banner-image">
                <img src="http://placehold.it/1140x466">
                <div class="banner-overlay"></div>
            </div>
            <div class="description">
                <h3>"</h3>
                <h3>HISTORIC PRESIDENTIAL CAMPAIGN Scandal</h3>
                <p>Since the nation's early days, scandals of all kinds have threatened to derail many presidential campaigns. Some candidates survived. Other didn't.Since the nation's early days, scandals of all kinds have threatened to derail many presidential
                    campaigns. Some candidates survived. Other didn't</p>
                <div class="sources">
                    <button id="source1" class="active"> Source 1</button>
                    <button id="source2"> Source 1</button>
                    <button id="source3"> Source 1</button>
                    <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                </div>
                <!-- sources -->
                <div class="scandal-category">
                    <div class="category green">
                        <a href="politics">Politics</a>
                    </div>
                    <!-- category green -->
                    <div class="occurance">
                        <p href="">October 6, 2017</p>
                    </div>
                    <!-- occurance -->
                    <div class="views">
                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                    </div>
                    <!-- views grey -->
                </div>
                <!-- scandal-category -->
            </div>
            <!-- description -->
        </div>
        <!-- grid-one-big -->
        <div class="atw-wrapper">
            <div class="nextbtn">
                <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>
            <div class="preButton">
                <button>1 of 4 <i class="fa fa-angle-left" aria-hidden="true"></i></button>
            </div>
            <div class="news1">
                <div class="grid-one">
                    <img src="http://www.placehold.it/270x180">
                    <div class="contents">
                        <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                        <div class="sources">
                            <button id="source1" class="active"> Source 1</button>
                            <button id="source2"> Source 1</button>
                            <button id="source3"> Source 1</button>
                            <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <!-- contents -->
                </div>
                <!-- grid-one -->
                <div class="grid-two">
                    <div class="category green">
                        <a href="politics">Politics</a>
                    </div>
                    <!-- category green -->
                    <h3>This is a news title</h3>
                    <div class="occurance">
                        <a class="grey" href="">October 6, 2017</a>
                    </div>
                    <!-- occurance -->
                    <div class="views grey">
                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                    </div>
                    <!-- views grey -->
                    <div class="bookmark">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                    </div>
                    <!-- bookmark -->
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <!-- description -->
                </div>
                <!-- grid-two -->
            </div>
            <!-- news1 -->
            <div class="news1">
                <div class="grid-one">
                    <img src="http://www.placehold.it/270x180">
                    <div class="contents">
                        <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                        <div class="sources">
                            <button id="source1" class="active"> Source 1</button>
                            <button id="source2"> Source 1</button>
                            <button id="source3"> Source 1</button>
                            <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <!-- contents -->
                </div>
                <!-- grid-one -->
                <div class="grid-two">
                    <div class="category green">
                        <a href="politics">Politics</a>
                    </div>
                    <!-- category green -->
                    <h3>This is a news title</h3>
                    <div class="occurance">
                        <a class="grey" href="">October 6, 2017</a>
                    </div>
                    <!-- occurance -->
                    <div class="views grey">
                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                    </div>
                    <!-- views grey -->
                    <div class="bookmark">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                    </div>
                    <!-- bookmark -->
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <!-- description -->
                </div>
                <!-- grid-two -->
            </div>
            <!-- news1 -->
            <div class="news2">
                <div class="grid-one">
                    <img src="http://www.placehold.it/270x180">
                    <div class="contents">
                        <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                        <div class="sources">
                            <button id="source1" class="active"> Source 1</button>
                            <button id="source2"> Source 1</button>
                            <button id="source3"> Source 1</button>
                            <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <!-- contents -->
                </div>
                <!-- grid-one -->
                <div class="grid-two">
                    <div class="category green">
                        <a href="politics">Politics</a>
                    </div>
                    <!-- category green -->
                    <h3>This is a news title</h3>
                    <div class="occurance">
                        <a class="grey" href="">October 6, 2017</a>
                    </div>
                    <!-- occurance -->
                    <div class="views grey">
                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                    </div>
                    <!-- views grey -->
                    <div class="bookmark">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                    </div>
                    <!-- bookmark -->
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <!-- description -->
                </div>
                <!-- grid-two -->
            </div>
            <!-- news2 -->
            <div class="news2">
                <div class="grid-one">
                    <img src="http://www.placehold.it/270x180">
                    <div class="contents">
                        <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                        <div class="sources">
                            <button id="source1" class="active"> Source 1</button>
                            <button id="source2"> Source 1</button>
                            <button id="source3"> Source 1</button>
                            <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <!-- contents -->
                </div>
                <!-- grid-one -->
                <div class="grid-two">
                    <div class="category green">
                        <a href="politics">Politics</a>
                    </div>
                    <!-- category green -->
                    <h3>This is a news title</h3>
                    <div class="occurance">
                        <a class="grey" href="">October 6, 2017</a>
                    </div>
                    <!-- occurance -->
                    <div class="views grey">
                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                    </div>
                    <!-- views grey -->
                    <div class="bookmark">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                    </div>
                    <!-- bookmark -->
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <!-- description -->
                </div>
                <!-- grid-two -->
            </div>
            <!-- news2 -->
        </div>
        <!-- atw-wrapper -->
    </div>
</div>
<!-- World-news -->
<div id="around-the-world" class="container">
    <h3>Around the world</h3>
    <div class="underline"></div>
    <button class="view-all">view more <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    <div class="atw-wrapper">
        <div class="nextbtn">
            <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
        <div class="preButton">
            <button><i class="fa fa-angle-left" aria-hidden="true"></i></button>
        </div>
        <div class="news1">
            <div class="grid-one">
                <img src="http://www.placehold.it/270x180">
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>
                        <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
        <div class="news1">
            <div class="grid-one">
                <img src="http://www.placehold.it/270x180">
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>
                        <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
        <div class="news2">
            <div class="grid-one">
                <img src="http://www.placehold.it/270x180">
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>
                        <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news2 -->
        <div class="news2">
            <div class="grid-one">
                <img src="http://www.placehold.it/270x180">
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>
                        <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news2 -->
    </div>
    <!-- atw-wrapper -->
</div>
<!-- around-the-world -->
<div class="container">
    <div class="adblock">
        <img src="http://placehold.it/1140x266">
    </div>
</div>