<div class="side-grid">
    <h4>Related News From Politics</h4>
    <div class="underline"></div>
    <div class="news1" *ngFor="let item of data; let i=index" routerLink="news-landing">
        <div class="grid-one">
            <img src="{{item.image}}">
        </div>
        <!-- grid-one -->
        <div class="grid-two">
            <div class="description">
                <p>{{item.discription}}</p>
            </div>
            <!-- description -->
            <div class="occurance">
                <p class="grey" href="">{{item.occurance}}</p>
            </div>
            <!-- occurance -->
            <div class="views grey">
                <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{item.views}}</p>
            </div>
            <!-- views grey -->
        </div>
        <!-- grid-two -->
    </div>
    <!-- news1 -->

    <button class="view-all" routerLink="/category-listing">view more <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
</div>
<!-- side-grid -->