<div class="container main-grid-wrapper clearfix">
    <div class="main-grid">
        <h2>More From Politics</h2>
        <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()" [scrollWindow]="true">

            <div class="news1" *ngFor="let item of datas; let i=index" routerLink="/news-landing">
                <div class="grid-one">
                    <img src="{{item.image}}">
                    <div class="contents">
                        <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                        <div class="sources">
                            <button id="source1" class="active"> Source 1</button>
                            <button id="source2"> Source 1</button>
                            <button id="source3"> Source 1</button>
                            <i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <!-- contents -->
                </div>
                <!-- grid-one -->
                <div class="grid-two">
                    <h3>{{item.title}} {{item.cardNo}}</h3>

                    <div class="occurance">
                        <a class="grey" href="">{{item.occurance}}</a>
                    </div>
                    <!-- occurance -->
                    <div class="views grey">
                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{item.views}}</p>
                    </div>
                    <!-- views grey -->
                    <div class="bookmark">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                    </div>
                    <!-- bookmark -->
                    <div class="description">
                        <p>{{item.description}}</p>
                    </div>
                    <!-- description -->
                </div>
                <!-- grid-two -->
            </div>
        </div>
        <!-- news1 -->

        <div class="loading-symbol" align="center" *ngIf="count<res.length?true:false">
            <img src="../../assets/images/805.gif" style="height:25px;width:25px">
        </div>
    </div>
    <!-- main-grid -->
    <div class="side-grid">
        <h4>Related News From Politics</h4>
        <div class="underline"></div>
        <div class="news1" routerLink="/news-landing">
            <div class="grid-one">
                <img src="http://www.placehold.it/100x80">
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
                <div class="occurance">
                    <p class="grey" href="">October 6, 2017</p>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
        <div class="news1" routerLink="/news-landing">
            <div class="grid-one">
                <img src="http://www.placehold.it/100x80">
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
                <div class="occurance">
                    <p class="grey" href="">October 6, 2017</p>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
        <div class="news1" routerLink="/news-landing">
            <div class="grid-one">
                <img src="http://www.placehold.it/100x80">
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
                <div class="occurance">
                    <p class="grey" href="">October 6, 2017</p>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
        <div class="news1" routerLink="/news-landing">
            <div class="grid-one">
                <img src="http://www.placehold.it/100x80">
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
                <div class="occurance">
                    <p class="grey" href="">October 6, 2017</p>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
        <div class="news1" routerLink="/news-landing">
            <div class="grid-one">
                <img src="http://www.placehold.it/100x80">
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
                <div class="occurance">
                    <p class="grey" href="">October 6, 2017</p>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
        <!-- <button class="view-all">view more <i class="fa fa-chevron-right" aria-hidden="true"></i></button> -->
    </div>
    <!-- side-grid -->

    <div class="main-panel">
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [infiniteScrollContainer]="selector" [fromRoot]="true" (scrolled)="onScroll()">
        </div>
    </div>