<div id="main-headlines" class="col-sm-12">
    <div class="modal fade" id="videoPlayer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="sources">
                        <button id="modalSource1" class="active"> Source 1</button>
                        <button id="modalSource2"> Source 1</button>
                        <button id="modalSource3"> Source 1</button>
                    </div>
                    <h4 class="modal-title">News title</h4>
                    <div class="occurance">
                        <a href="">October 6, 2017</a>
                    </div>
                    <div class="views">
                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="theVideoPlayer">
                        <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" data-setup="{}">
									<source src="http://techslides.com/demos/sample-videos/small.mp4" type='video/mp4'>
									<source src="http://techslides.com/demos/sample-videos/small.mp4" type='video/webm'>
									<p class="vjs-no-js">
									  To view this video please enable JavaScript, and consider upgrading to a web browser that
									  <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
									</p>
									</video>
                        <div class="video-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <!-- video-Description -->
                    </div>
                    <!-- theVideoPlayer -->
                </div>
                <!-- <div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save changes</button>
							</div> -->
            </div>
        </div>
    </div>
    <div id="headline" class="col-sm-3" style="padding-right: 0px;padding-left:0px">
        <div class="overlay"></div>
        <div id="header-image">

            <img src="http://www.placehold.it/315x478" title="">
            <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
        </div>
        <div class="news-part">

            <div class="category pink">
                <a href="politics">Politics</a>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="occurance">
                <a href="">October 6, 2017</a>
            </div>
            <div class="views">
                <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
            </div>
            <div class="sources">
                <button id="source1" class="active"> Source 1</button>
                <button id="source2"> Source 1</button>
                <button id="source3"> Source 1</button>
                <!-- <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i> -->
            </div>
        </div>
    </div>
    <!-- headline-1 -->
    <div id="headline" class="col-sm-3" style="padding-right: 0px;padding-left:0px">
        <div class="overlay"></div>
        <div id="header-image">
            <img src="http://www.placehold.it/315x478" title="">
            <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
        </div>
        <div class="news-part">
            <div class="category red">
                <a href="politics">Politics</a>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="occurance">
                <a href="">October 6, 2017</a>
            </div>
            <div class="views">
                <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
            </div>
            <div class="sources">
                <button id="source1" class="active"> Source 1</button>
                <button id="source2"> Source 1</button>
                <button id="source3"> Source 1</button>
                <!-- <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i> -->
            </div>
        </div>
    </div>
    <!-- headline-2 -->
    <div id="headline" class="col-sm-3" style="padding-right: 0px;padding-left:0px">
        <div class="overlay"></div>
        <div id="header-image">
            <img src="http://www.placehold.it/315x478" title="">
            <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
        </div>
        <div class="news-part">
            <div class="category green">
                <a href="politics">Politics</a>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="occurance">
                <a href="">October 6, 2017</a>
            </div>
            <div class="views">
                <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
            </div>
            <div class="sources">
                <button id="source1" class="active"> Source 1</button>
                <button id="source2"> Source 1</button>
                <button id="source3"> Source 1</button>
                <!-- <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i> -->
            </div>
        </div>
        <!-- news-part -->

    </div>
    <!-- headline-3 -->
    <div id="headline" class="col-sm-3" style="padding-right: 0px;padding-left:0px">
        <div class="overlay"></div>
        <div id="header-image">
            <img src="http://www.placehold.it/315x478" title="">
            <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
        </div>
        <div class="news-part">
            <div class="category blue">
                <a href="politics">Politics</a>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="occurance">
                <a href="">October 6, 2017</a>
            </div>
            <div class="views">
                <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
            </div>
            <div class="sources">
                <button id="source1" class="active"> Source 1</button>
                <button id="source2"> Source 1</button>
                <button id="source3"> Source 1</button>
                <!-- <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i> -->
            </div>
        </div>
    </div>
    <!-- headline-4 -->
</div>
<!-- main-headlines -->
<div class="mobile-headline-wrapper">
    <div class="mobile-headline" style="width: 1260px;">
        <div id="headline">
            <div class="overlay"></div>
            <div id="header-image">
                <img src="http://www.placehold.it/315x478" title="">
                <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
            </div>
            <div class="news-part">
                <div class="category pink">
                    <a href="politics">Politics</a>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="occurance">
                    <a href="">October 6, 2017</a>
                </div>
                <div class="views">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <div class="sources">
                    <button id="source1" class="active"> Source 1</button>
                    <button id="source2"> Source 1</button>
                    <button id="source3"> Source 1</button>

                </div>
            </div>
        </div>
        <!-- headline-1 -->
        <div id="headline">
            <div class="overlay"></div>
            <div id="header-image">
                <img src="http://www.placehold.it/315x478" title="">
                <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
            </div>
            <div class="news-part">
                <div class="category red">
                    <a href="politics">Politics</a>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="occurance">
                    <a href="">October 6, 2017</a>
                </div>
                <div class="views">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <div class="sources">
                    <button id="source1" class="active"> Source 1</button>
                    <button id="source2"> Source 1</button>
                    <button id="source3"> Source 1</button>

                </div>
            </div>
        </div>
        <!-- headline-2 -->
        <div id="headline">
            <div class="overlay"></div>
            <div id="header-image">
                <img src="http://www.placehold.it/315x478" title="">
                <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
            </div>
            <div class="news-part">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="occurance">
                    <a href="">October 6, 2017</a>
                </div>
                <div class="views">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <div class="sources">
                    <button id="source1" class="active"> Source 1</button>
                    <button id="source2"> Source 1</button>
                    <button id="source3"> Source 1</button>

                </div>
            </div>
        </div>
        <!-- headline-3 -->
        <div id="headline">
            <div class="overlay"></div>
            <div id="header-image">
                <img src="http://www.placehold.it/315x478" title="">
                <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
            </div>
            <div class="news-part">
                <div class="category blue">
                    <a href="politics">Politics</a>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="occurance">
                    <a href="">October 6, 2017</a>
                </div>
                <div class="views">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <div class="sources">
                    <button id="source1" class="active"> Source 1</button>
                    <button id="source2"> Source 1</button>
                    <button id="source3"> Source 1</button>

                </div>
            </div>
        </div>
        <!-- headline-4 -->
    </div>
    <!-- mobile-headline-wrapper -->
</div>
<!-- mobile-headline -->
<div id="section-two">

    <div id="news-desk">
        <h3>NEWS DESK</h3>
        <div class="underline"></div>
        <button class="view-all">view more <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        <div class="news1">
            <div class="grid-one">
                <img src="http://www.placehold.it/270x180">
                <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>

                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
        <hr>
        <div class="news2">
            <div class="grid-one">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <div class="grid-two">
                <img src="http://www.placehold.it/270x180">
                <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>

                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news2 -->
        <hr>
        <div class="news1">
            <div class="grid-one">
                <img src="http://www.placehold.it/270x180">
                <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
                <div class="contents">

                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>

                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
    </div>
    <!-- news-desk -->
    <div id="scandal-watch">
        <h3>SCANDAL WATCH</h3>
        <button class="view-all">view more <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        <div class="underline"></div>
        <div class="grid-one-big">
            <div class="banner-image">
                <img src="http://placehold.it/550x225">
                <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
                <div class="banner-overlay"></div>
            </div>
            <div class="description">
                <h3>"</h3>
                <h3>HISTORIC PRESIDENTIAL CAMPAIGN Scandal</h3>
                <p>Since the nation's early days, scandals of all kinds have threatened to derail many presidential campaigns. Some candidates survived. Other didn't.Since the nation's early days, scandals of all kinds have threatened to derail many presidential
                    campaigns. Some candidates survived. Other didn't</p>
                <div class="sources">
                    <button id="source1" class="active"> Source 1</button>
                    <button id="source2"> Source 1</button>
                    <button id="source3"> Source 1</button>

                </div>
                <!-- sources -->
                <div class="scandal-category">
                    <div class="category green">
                        <a href="politics">Politics</a>
                    </div>
                    <!-- category green -->
                    <div class="occurance">
                        <p href="">October 6, 2017</p>
                    </div>
                    <!-- occurance -->
                    <div class="views">
                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                    </div>
                    <!-- views grey -->
                </div>
                <!-- scandal-category -->
            </div>
            <!-- description -->
        </div>
        <!-- grid-one-big -->
        <h3>THINK TANK</h3>
        <div class="underline"></div>
        <div class="think-tank">
            <div class="grid-one">
                <div class="banner-image">
                    <img src="http://www.placehold.it/270x180">
                    <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="lower-buttons">
                        <div class="sources">
                            <button id="source1" class="active"> Source 1</button>
                            <button id="source2"> Source 1</button>
                            <button id="source3"> Source 1</button>

                        </div>
                    </div>
                </div>
                <div class="banner-contents">
                    <div class="category green">
                        <a href="politics">Politics</a>
                    </div>
                    <!-- category green -->
                    <div class="description">
                        <p>Since the nation's early days, scandals of all kinds have threatened to derail many presidential campaigns. Some candidates survived. Other didn't.Since the nation's early days, scandals of all kinds have threatened to derail many
                            presidential campaigns. Some candidates survived. Other didn't</p>
                    </div>
                    <div class="occurance">
                        <p class="grey" href="">October 6, 2017</p>
                    </div>
                    <!-- occurance -->
                    <div class="views grey">
                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                    </div>
                    <!-- views grey -->
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-one">
                <div class="banner-image">
                    <img src="http://www.placehold.it/270x180">
                    <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="lower-buttons">
                        <div class="sources">
                            <button id="source1" class="active"> Source 1</button>
                            <button id="source2"> Source 1</button>
                            <button id="source3"> Source 1</button>

                        </div>
                    </div>
                </div>
                <div class="banner-contents">
                    <div class="category green">
                        <a href="politics">Politics</a>
                    </div>
                    <!-- category green -->
                    <div class="description">
                        <p>Since the nation's early days, scandals of all kinds have threatened to derail many presidential campaigns. Some candidates survived. Other didn't.Since the nation's early days, scandals of all kinds have threatened to derail many
                            presidential campaigns. Some candidates survived. Other didn't</p>
                    </div>
                    <div class="occurance">
                        <p class="grey" href="">October 6, 2017</p>
                    </div>
                    <!-- occurance -->
                    <div class="views grey">
                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                    </div>
                    <!-- views grey -->
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
        </div>
        <!-- think-tank -->
    </div>
    <!-- scandal-watch -->
</div>
<!-- section-two -->
<div id="around-the-world">
    <h3>Around the world</h3>
    <div class="underline"></div>
    <button class="view-all">view more <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    <div class="atw-wrapper">
        <div class="nextbtn">
            <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
        <div class="preButton">
            <button><i class="fa fa-angle-left" aria-hidden="true"></i></button>
        </div>
        <div class="news1">
            <div class="grid-one">
                <img src="http://www.placehold.it/270x180">
                <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>

                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
        <div class="news1">
            <div class="grid-one">
                <img src="http://www.placehold.it/270x180">
                <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>

                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news1 -->
        <div class="news2">
            <div class="grid-one">
                <img src="http://www.placehold.it/270x180">
                <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>

                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news2 -->
        <div class="news2">
            <div class="grid-one">
                <img src="http://www.placehold.it/270x180">
                <i id="playButton" class="fa fa-play-circle playbutton" aria-hidden="true"></i>
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>

                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>This is a news title</h3>
                <div class="occurance">
                    <a class="grey" href="">October 6, 2017</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>
        <!-- news2 -->
    </div>
    <!-- atw-wrapper -->
</div>
<!-- around-the-world -->