<div class="container main-grid-wrapper clearfix">
    <app-news-landing-news-details></app-news-landing-news-details>
    <!-- main-grid -->
    <app-news-landing-related-news-rightt-div></app-news-landing-related-news-rightt-div>
    <!-- side-grid -->
</div>
<!-- container -->
<app-news-landing-related-news-bottom-div></app-news-landing-related-news-bottom-div>