<h1>Incredibly Basic Slider</h1>
<div id="slider">
    <a href="#" class="control_next">></a>
    <a href="#" class="control_prev"></a>
    <ul>
        <li>SLIDE 1</li>
        <li style="background: #aaa;">SLIDE 2</li>
        <li>SLIDE 3</li>
        <li style="background: #aaa;">SLIDE 4</li>
    </ul>
</div>

<div class="slider_option">
    <input type="checkbox" id="checkbox">
    <label for="checkbox">Autoplay Slider</label>
</div>