<button class="view-all" routerLink="/category-listing">view more <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
<div class="underline"></div>
<div class="grid-one-big" *ngFor="let item of data; let i = index" routerLink="/news-landing">
    <div class="banner-image">
        <img src={{item.image}}>
        <div class="banner-overlay"></div>
    </div>
    <div class="description">
        <h3>"</h3>
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
        <div class="sources">
            <button class="active"> Source 1</button>
            <button> Source 1</button>
            <button> Source 1</button>
        </div>
        <!-- sources -->
        <div class="scandal-category">
            <div class="category green">
                <a href="politics">Politics</a>
            </div>
            <!-- category green -->
            <div class="occurance">
                <p href="">{{item.occurance}}</p>
            </div>
            <!-- occurance -->
            <div class="views">
                <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{item.views}}</p>
            </div>
            <!-- views grey -->
        </div>
        <!-- scandal-category -->
    </div>
    <!-- description -->
</div>