<div id="login-background"></div>
<!-- login-background -->
<div class="login-div">
    <h3>Join Manotr</h3>
    <p>Please sign in or create an account to avail our special features</p>
    <div class="social-buttons" aria-hidden="true">
        <i class="fa fa-facebook fb social-btn" aria-hidden="true"></i>
        <i class="fa fa-twitter t social-btn" aria-hidden="true"></i>
        <i class="fa fa-google-plus g social-btn" aria-hidden="true"></i>
    </div>
    <!--  social-buttons -->
    <p>or via email</p>
    <div class="other-div">
        <div>
            <i class="fa fa-user" aria-hidden="true"></i><input type="text" class="name textbox" name="" placeholder="Full Name">
        </div>
        <div>
            <i>@</i>&nbsp;<input type="email" name="" class="email textbox" placeholder="Email">
        </div>
        <div>
            <i class="fa fa-lock" aria-hidden="true"></i><input type="Password" name="" class="textbox password" placeholder="Password">
        </div>
        <div>
            <button class="sign-up" routerLink="/user-dashboard">Sign Up</button>
        </div>
    </div>
    <!-- other-div -->

</div>