<!-- main-headlines -->



<!-- main-headlines -->
<app-main-headlines></app-main-headlines>
<div id="section-two">
    <!-- news-desk -->
    <app-news-desk></app-news-desk>


    <!-- scandal-watch -->
    <div id="scandal-watch">
        <h3>SCANDAL WATCH</h3>
        <app-scandal-watch></app-scandal-watch>
        <!-- grid-one-big -->
        <h3>THINK TANK</h3>
        <div class="underline"></div>
        <app-think-tank></app-think-tank>

    </div>
</div>
<!-- section-two -->
<app-around-world></app-around-world>
<!-- around-the-world -->