<div id="news-desk">
    <h3>NEWS DESK</h3>
    <div class="underline"></div>
    <button class="view-all" routerLink="/category-listing"> view more <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    <div class="news1" routerLink="/news-landing">
        <div class="grid-one">
            <img src="http://www.lorempixel.com/270/180">
            <div class="contents">
                <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                <div class="sources">
                    <button id="source1" class="active" routerLink="/news-landing"> Source 1</button>
                    <button id="source2" routerLink="/news-landing"> Source 1</button>
                    <button id="source3" routerLink="/news-landing"> Source 1</button>
                </div>
            </div>
            <!-- contents -->
        </div>
        <!-- grid-one -->
        <div class="grid-two">
            <div class="category green">
                <a href="politics">Politics</a>
            </div>
            <!-- category green -->
            <h3>This is a news title</h3>
            <div class="occurance">
                <a class="grey" href="">October 6, 2017</a>
            </div>
            <!-- occurance -->
            <div class="views grey">
                <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
            </div>
            <!-- views grey -->
            <div class="bookmark">
                <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
            </div>
            <!-- bookmark -->
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <!-- description -->
        </div>
        <!-- grid-two -->
    </div>
    <!-- news1 -->
    <hr>
    <div class="news2" routerLink="/news-landing">
        <div class="grid-one">
            <div class="category green">
                <a href="politics">Politics</a>
            </div>
            <!-- category green -->
            <h3>This is a news title</h3>
            <div class="occurance">
                <a class="grey" href="">October 6, 2017</a>
            </div>
            <!-- occurance -->
            <div class="views grey">
                <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
            </div>
            <!-- views grey -->
            <div class="bookmark">
                <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
            </div>
            <!-- bookmark -->
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <!-- description -->
        </div>
        <div class="grid-two">
            <img src="http://www.lorempixel.com/270/180">
            <div class="contents">
                <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                <div class="sources">
                    <button id="source1" class="active" routerLink="/news-landing"> Source 1</button>
                    <button id="source2" routerLink="/news-landing"> Source 1</button>
                    <button id="source3" routerLink="/news-landing"> Source 1</button>
                </div>
            </div>
            <!-- contents -->
        </div>
        <!-- grid-two -->
    </div>
    <!-- news2 -->
    <hr>
    <div class="news1" routerLink="/news-landing">
        <div class="grid-one">
            <img src="http://www.lorempixel.com/270/180">
            <div class="contents">
                <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                <div class="sources">
                    <button id="source1" class="active" routerLink="/news-landing"> Source 1</button>
                    <button id="source2" routerLink="/news-landing"> Source 1</button>
                    <button id="source3" routerLink="/news-landing"> Source 1</button>
                </div>
            </div>
            <!-- contents -->
        </div>
        <!-- grid-one -->
        <div class="grid-two">
            <div class="category green">
                <a href="politics">Politics</a>
            </div>
            <!-- category green -->
            <h3>This is a news title</h3>
            <div class="occurance">
                <a class="grey" href="">October 6, 2017</a>
            </div>
            <!-- occurance -->
            <div class="views grey">
                <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;1465</p>
            </div>
            <!-- views grey -->
            <div class="bookmark">
                <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
            </div>
            <!-- bookmark -->
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <!-- description -->
        </div>
        <!-- grid-two -->
    </div>
    <!-- news1 -->
</div>
<!-- news-desk -->