<div id="around-the-world">
    <h3>Around the world</h3>
    <div class="underline"></div>
    <button class="view-all" routerLink="/category-listing">  view more <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    <div class="atw-wrapper">


        <div class="nextbtn" data-toggle="tooltip" data-placement="right" title="slide 1 of 4">
            <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
        <div class="preButton" data-toggle="tooltip" data-placement="left" title="slide 1 of 4">
            <button><i class="fa fa-angle-left" aria-hidden="true"></i></button>
        </div>


        <div class="news1" *ngFor="let item of data; let i = index" routerLink="/news-landing">
            <div class="grid-one">
                <img src={{item.image}}>
                <div class="contents">
                    <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                    <div class="sources">
                        <button id="source1" class="active"> Source 1</button>
                        <button id="source2"> Source 1</button>
                        <button id="source3"> Source 1</button>
                    </div>
                </div>
                <!-- contents -->
            </div>
            <!-- grid-one -->
            <div class="grid-two">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <h3>{{item.title}}</h3>
                <div class="occurance">
                    <a class="grey" href="">{{item.occurance}}}</a>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{item.views}}}</p>
                </div>
                <!-- views grey -->
                <div class="bookmark">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                </div>
                <!-- bookmark -->
                <div class="description">
                    <p>{{item.description}}</p>
                </div>
                <!-- description -->
            </div>
            <!-- grid-two -->
        </div>



    </div>
    <!-- atw-wrapper -->
</div>