<div id="wrapper" class="container">
    <div id="menu">
        <div id="primary-menu" class="primary-menu">
            <div class="row">
                <div class="logo col-md-3">
                    <a href="/"> <img src="./assets/images/manotr-logo.png"></a>
                </div>
                <!-- logo -->
                <div id="search" class="search col-md-4">
                    <input type="text" name="search" placeholder="SEARCH NEWS">
                    <div class="search-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- search -->
                <div class="news-switcher col-md-2">
                    <div class="read-mode-on" routerLink="/"></div>
                    <div class="watch-mode" routerLink="/politics-video"></div>
                </div>
                <!-- news-switcher -->
                <div class="login col-md-2">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <a routerLink="/signin-signup">SIGN IN / SIGN UP</a>
                </div>
                <!-- login -->
            </div>
            <!-- row -->
        </div>
        <!-- primary-menu -->
        <div id="secondary-menu" class="secondary-menu">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Politics</a></li>
                            <li><a routerLink="/worldnews" routerLinkActive="active">World News</a></li>
                            <li><a routerLink="/cricket" routerLinkActive="active">Cricket</a></li>
                            <li><a routerLink="/technology" routerLinkActive="active">Technology</a></li>
                            <li><a routerLink="/startup" routerLinkActive="active">Startups</a></li>
                            <li><a routerLink="/gaming" routerLinkActive="active">Gaming</a></li>
                            <li><a routerLink="/tvshows" routerLinkActive="active">TV Shows</a></li>
                            <li><a routerLink="/bollywood" routerLinkActive="active">Bollywood</a></li>
                            <li><a routerLink="/finance" routerLinkActive="active">Finance</a></li>
                            <li><a routerLink="/videos" routerLinkActive="active">Videos</a></li>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="last-item dropdown-toggle" data-toggle="dropdown">Add New</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
        <!-- secondary-menu -->
    </div>

    <router-outlet></router-outlet>

</div>

<footer>
    <div class="footer clearfix">
        <div class="col-md-2 gray">
            <img src="./assets/images/manotr-logo.png">
        </div>
        <div class="col-md-8">
            <p>Follow Us: </p><i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;<i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;<i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;<i class="fa fa-vk" aria-hidden="true"></i>&nbsp;<i class="fa fa-youtube-play"
                aria-hidden="true"></i>
        </div>
        <div class="col-md-2">
            <p>2017 &copy; All Rights Reserved</p>
        </div>
    </div>
    <!-- footer -->
</footer>