<p>
    scrolldemo works!
</p>



<div class="main-panel">
    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [infiniteScrollContainer]="selector" [fromRoot]="true" (scrolled)="onScroll()">
    </div>
</div>