<div id="container" style="margin-top:50px;margin-bottom:50px">

    <div ng2-carouselamos class="slides-wrapper" [items]="data" [width]="1000" [$prev]="prev" [$next]="next" [$item]="item">
    </div>

    <ng-template #prev>
        <img src="../../assets/images/left.png" style="height:50px;width:50px" id="left" />
    </ng-template>

    <ng-template #next>
        <img src="../../assets/images/right.jpg" style="height:50px;width:50px" id="right" />
    </ng-template>

    <div class="atw-wrapper">
        <div class="card">
            <div class="card-body">
                <div class="row" style="width:100%; height:100%;">
                    <ng-template #item let-item let-i="index">
                        <div class="items">
                            <div class="news1 row">
                                <div class="grid-one col-sm-6">
                                    <img src={{item.image}}>
                                    <div class="contents">
                                        <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                        <div class="sources">
                                            <button id="source1" class="active"> Source 1</button>
                                            <button id="source2"> Source 1</button>
                                            <button id="source3"> Source 1</button>
                                        </div>
                                    </div>
                                    <!-- contents -->
                                </div>
                                <!-- grid-one -->
                                <div class="grid-two col-sm-6">
                                    <div class="category green">
                                        <a href="politics">Politics</a>
                                    </div>
                                    <!-- category green -->
                                    <h3>{{item.title}}</h3>
                                    <div class="occurance">
                                        <a class="grey" href="">{{item.occurance}}}</a>
                                    </div>
                                    <!-- occurance -->
                                    <div class="views grey">
                                        <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{item.views}}}</p>
                                    </div>
                                    <!-- views grey -->
                                    <div class="bookmark">
                                        <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
                                    </div>
                                    <!-- bookmark -->
                                    <div class="description">
                                        <p>{{item.description}}</p>
                                    </div>
                                    <!-- description -->
                                </div>
                                <!-- grid-two -->
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

</div>