#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background: #fff;
}

.items {
    max-width: 300px;
    height: 300px;
    background: #ECECEC;
}

#left,
#right {
    margin: 30px;
}