<div class="think-tank">
    <div class="row">
        <div class="grid-one" *ngFor="let item of data; let i = index" routerLink="/news-landing">
            <div class="banner-image">
                <img src="{{item.image}}">
                <button class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                <div class="lower-buttons">
                    <div class="sources">
                        <button class="active"> Source 1</button>
                        <button> Source 1</button>
                        <button> Source 1</button>
                    </div>
                </div>
            </div>
            <div class="banner-contents">
                <div class="category green">
                    <a href="politics">Politics</a>
                </div>
                <!-- category green -->
                <div class="description">
                    <p>{{item.description}}</p>
                </div>
                <div class="occurance">
                    <p class="grey" href="">{{item.occurance}}</p>
                </div>
                <!-- occurance -->
                <div class="views grey">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{item.views}}</p>
                </div>
                <!-- views grey -->
            </div>
            <!-- contents -->
        </div>
        <!-- grid-one -->
    </div>

</div>