/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Buttons
// --------------------------------------------------

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  .box-shadow(@shadow);

  // Reset the shadow
  &:active,
  &.active {
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    .box-shadow(none);
  }

  .badge {
    text-shadow: none;
  }
}

// Mixin for generating new styles
.btn-styles(@btn-color: #555) {
  #gradient > .vertical(@start-color: @btn-color; @end-color: darken(@btn-color, 12%));
  .reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners; see https://github.com/twbs/bootstrap/issues/10620
  background-repeat: repeat-x;
  border-color: darken(@btn-color, 14%);

  &:hover,
  &:focus  {
    background-color: darken(@btn-color, 12%);
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    background-color: darken(@btn-color, 12%);
    border-color: darken(@btn-color, 14%);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: darken(@btn-color, 12%);
      background-image: none;
    }
  }
}

// Common styles
.btn {
  // Remove the gradient for the pressed/active state
  &:active,
  &.active {
    background-image: none;
  }
}

// Apply the mixin to the buttons
.btn-default { .btn-styles(@btn-default-bg); text-shadow: 0 1px 0 #fff; border-color: #ccc; }
.btn-primary { .btn-styles(@btn-primary-bg); }
.btn-success { .btn-styles(@btn-success-bg); }
.btn-info    { .btn-styles(@btn-info-bg); }
.btn-warning { .btn-styles(@btn-warning-bg); }
.btn-danger  { .btn-styles(@btn-danger-bg); }


//
// Images
// --------------------------------------------------

.thumbnail,
.img-thumbnail {
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}


//
// Dropdowns
// --------------------------------------------------

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-hover-bg; @end-color: darken(@dropdown-link-hover-bg, 5%));
  background-color: darken(@dropdown-link-hover-bg, 5%);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
  background-color: darken(@dropdown-link-active-bg, 5%);
}


//
// Navbar
// --------------------------------------------------

// Default navbar
.navbar-default {
  #gradient > .vertical(@start-color: lighten(@navbar-default-bg, 10%); @end-color: @navbar-default-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
  border-radius: @navbar-border-radius;
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  .box-shadow(@shadow);

  .navbar-nav > .open > a,
  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: darken(@navbar-default-link-active-bg, 5%); @end-color: darken(@navbar-default-link-active-bg, 2%));
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.075));
  }
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

// Inverted navbar
.navbar-inverse {
  #gradient > .vertical(@start-color: lighten(@navbar-inverse-bg, 10%); @end-color: @navbar-inverse-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered; see https://github.com/twbs/bootstrap/issues/10257
  border-radius: @navbar-border-radius;
  .navbar-nav > .open > a,
  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: @navbar-inverse-link-active-bg; @end-color: lighten(@navbar-inverse-link-active-bg, 2.5%));
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.25));
  }

  .navbar-brand,
  .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  }
}

// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

// Fix active state of dropdown items in collapsed mode
@media (max-width: @grid-float-breakpoint-max) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
      color: #fff;
      #gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
    }
  }
}


//
// Alerts
// --------------------------------------------------

// Common styles
.alert {
  text-shadow: 0 1px 0 rgba(255,255,255,.2);
  @shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
  .box-shadow(@shadow);
}

// Mixin for generating new styles
.alert-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 7.5%));
  border-color: darken(@color, 15%);
}

// Apply the mixin to the alerts
.alert-success    { .alert-styles(@alert-success-bg); }
.alert-info       { .alert-styles(@alert-info-bg); }
.alert-warning    { .alert-styles(@alert-warning-bg); }
.alert-danger     { .alert-styles(@alert-danger-bg); }


//
// Progress bars
// --------------------------------------------------

// Give the progress background some depth
.progress {
  #gradient > .vertical(@start-color: darken(@progress-bg, 4%); @end-color: @progress-bg)
}

// Mixin for generating new styles
.progress-bar-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 10%));
}

// Apply the mixin to the progress bars
.progress-bar            { .progress-bar-styles(@progress-bar-bg); }
.progress-bar-success    { .progress-bar-styles(@progress-bar-success-bg); }
.progress-bar-info       { .progress-bar-styles(@progress-bar-info-bg); }
.progress-bar-warning    { .progress-bar-styles(@progress-bar-warning-bg); }
.progress-bar-danger     { .progress-bar-styles(@progress-bar-danger-bg); }

// Reset the striped class because our mixins don't do multiple gradients and
// the above custom styles override the new `.progress-bar-striped` in v3.2.0.
.progress-bar-striped {
  #gradient > .striped();
}


//
// List groups
// --------------------------------------------------

.list-group {
  border-radius: @border-radius-base;
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 darken(@list-group-active-bg, 10%);
  #gradient > .vertical(@start-color: @list-group-active-bg; @end-color: darken(@list-group-active-bg, 7.5%));
  border-color: darken(@list-group-active-border, 7.5%);

  .badge {
    text-shadow: none;
  }
}


//
// Panels
// --------------------------------------------------

// Common styles
.panel {
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
}

// Mixin for generating new styles
.panel-heading-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 5%));
}

// Apply the mixin to the panel headings only
.panel-default > .panel-heading   { .panel-heading-styles(@panel-default-heading-bg); }
.panel-primary > .panel-heading   { .panel-heading-styles(@panel-primary-heading-bg); }
.panel-success > .panel-heading   { .panel-heading-styles(@panel-success-heading-bg); }
.panel-info > .panel-heading      { .panel-heading-styles(@panel-info-heading-bg); }
.panel-warning > .panel-heading   { .panel-heading-styles(@panel-warning-heading-bg); }
.panel-danger > .panel-heading    { .panel-heading-styles(@panel-danger-heading-bg); }


//
// Wells
// --------------------------------------------------

.well {
  #gradient > .vertical(@start-color: darken(@well-bg, 5%); @end-color: @well-bg);
  border-color: darken(@well-bg, 10%);
  @shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  .box-shadow(@shadow);
}


//---------------------------- Custom theme starts here -----------------------------
body{
  font-family: 'Lato';
}
button{
  outline: none;
}
img{
  width: 100%;
  height: auto;
}

#wrapper{
  #login-background{
     background: url('../images/login-page-bg.png') no-repeat;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 70vh;
    vertical-align: top;
  }
  .fb{
    background: #3b5999;
    padding: 15px 30px  !important;
  }
  .t{
    background: #5ea9dd;
  }
  .g{
    background: #dc4a38;
  }
.login-div {
      position: absolute;
      background: #fff;
      top: 30%;
      left: 35%;
      box-shadow: 0px 0px 15px #343434;
      text-align: center;
      padding: 30px;
      .social-btn {
          padding: 15px 25px;
          color: #fff;
          margin: 20px 0;
      }
      .other-div{
        i{
          color: #343434;
        }
      }
      .sign-up{
        background: @brand-primary;
        color: #fff;
        padding: 10px 25px;
        border-radius: 10px;
        text-transform: uppercase;
      }
      .textbox {
          display: inline-block;
          margin: 5px auto;
          border: none;
          width: 80%;
          padding: 10px;
          padding-left: 30px;
          outline: none;
      }
      .textbox:focus{
        border-bottom: 1px solid #eee;
      }

    }/*login-div*/
  .categoryBackground{
    background: url('http://www.placehold.it/1366x200') repeat;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 250px;
    vertical-align: top;
  }
  .main-grid{
    width: 74%;
    display: inline-block;
    float: left;
    .left-grid{
        display: inline-block;
        width: 38%;
        vertical-align: top;
        img{
          width: 100%;
        }
    }
    .right-grid{
        display: inline-block;
        width: 60%;
        vertical-align: top;
        max-height: 200px;
        overflow: hidden;
          .right-description{
            height: 180px;
            overflow:hidden;
          }
          .bookmark-readmore{
            text-transform: uppercase;
            color: @brand-primary;
            float: right;
          }
        }
        .left-grid-main{
          .bookmark{
            display: inline-block;
            width: 84%;
          }
          .tags{
            margin-top:20px;
            ul {
               overflow: auto;
               background: #eeee;
                display: block;
                padding-left: 0px;
               li:first-child{
                list-style:none;
                background: #ccccd6;
                margin-left: 0px;
                padding-left: 20px;
               }
              li {
                text-decoration: underline;
                float: left;
                padding: 10px;
                margin: 0 20px;
                i{
                  color:@brand-primary;
                }
              }
            }
          }
        }
  }
  .main-grid-wrapper {
    margin-bottom: 20px;
    .main-grid{
      .news1{
        margin: 10px 0;
        .grid-one{
              position: relative;
              width: 32%;
              display: inline-block;
              vertical-align: top;
              margin: 0 2px;
              .sources{
              position: absolute;
              bottom: 0;
              width: 285px;
              margin: 10px 5px;
            }/* sources */
        }
        .grid-two{
              width: 67%;
              display: inline-block;
              vertical-align: top;
              position: relative;
              padding: 0px 10px;
              h3{
                margin-top: 0
              }
              .views{
                margin:0;
              }
        }
      }
    }
  }
  .side-grid{
    width: 24%;
    vertical-align: top;
    float: right;
    position: relative;

    .view-all{
      top:100%;
      right: 0;
    }
    .news1{
      img{
        width: 100px;
      }
      .grid-one{
        display: inline-block;
        width: 110px;
        vertical-align:top;
      }
      .grid-two{
        display: inline-block;
        width: 160px;
        vertical-align:top;
        .description {
          margin: 0px;  
        }
      }
    }
  }

  .grey {
        color: #6a6a6b !important;
      }
      .bookmark{
        color: @brand-primary;
      }
      .underline {
          border-top: 3px solid red;
          width: 100px;
          margin-bottom: 10px;
      }
      #playButton{
        color: #fff;
        font-size: 1.4em;
      }
       .atw-wrapper{
      position: relative;
      .nextbtn {
        position: absolute;
        top: 50%;
        right: 0;
        button{
          background: red;
          border: none;
          color: #fff;
          padding: 5px 12px;
        }
      }
      .preButton {
        position: absolute;
        top: 50%;
        left: -40px;
        button{
          background: red;
          border: none;
          color: #fff;
          padding: 5px 12px;
        }
      }
      .news1,.news2{
        display: inline-block;
        margin: 5px 0;
        width:49%;
        img{
          height: 180px;
        }
        .grid-one {
          position: relative;
          width: 49%;
          display: inline-block;
          vertical-align: top;
          margin: 0 2px;
          .banner-contents{
            padding: 10px;

            .category{
              margin: 10px 0;
            }
            .description{
              width: 100%;
            }
          }
          .banner-image{
            position: relative;
            .lower-buttons {
              position: absolute;
              bottom: 0;
              padding: 10px;
          }
            .banner-overlay{
              background: rgba(0, 0, 0, 0.4);
              position: absolute;
              top: 0;
              height: 285px;
              width: 100%;
            }/* banner-overlay */
          }/* banner-image */
           h3{
              margin: 5px 0px;
            }
            .occurance, .views {
              margin: 5px 0;
              p{
                margin: 0;
              }
            }
            .description{
              margin: 5px 0;
            }
          .contents {
            position: absolute;
            height: 180px;
            bottom: 0;
            width: 100%;
            .sources{
              position: absolute;
              bottom: 0;
              width: 285px;
              margin: 10px 5px;
            }/* sources */
          }/* contents */
      }/* grid-one */
      .grid-two{
        width: 49%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding: 0px 10px;
         .contents {
            position: absolute;
            height: 180px;
            bottom: 0;
            width: 100%;
            .menu{
                position: absolute;
                right: 7%;
                top: 7%;
                margin: 5px;
                background: transparent;
                border: none;
                color: #f5e6d3;
                outline: none;
                &:hover{
                  color: @brand-primary;
                }
            }
            .sources{
              position: absolute;
              bottom: 0;
              width: 285px;
              margin: 10px 5px;
            }/* sources */
          }/* contents */
        h3{
          margin: 5px 0px;
        }
        .occurance, .views {
          margin: 5px 0;
          p{
            margin: 0;
          }
        }
        .description{
          margin: 5px 0;
        }
      }/* grid-two*/
      } /* news1 news2 */
    }/* atw-wrapper */
  .sources{
        button {
            border: none;
            border-radius: 5px;
            font-size: 12px;
            text-transform: uppercase;
            padding: 3px 5px;
            margin: 0 2px;
            color: #343434;
        }
        .active{
          background: @brand-primary;
          color:#fff;
          text-transform: uppercase;
        }
      }
      .category{
        padding-left: 5px;
        font-size: 12px;
        text-transform: uppercase;
      }
      .red{
          border-left: 3px solid red;
      }
      .pink{
          border-left: 3px solid pink;
      }
      .blue{
          border-left: 3px solid blue;
      }
      .green{
          border-left: 3px solid green;
      }
      .occurance{
        padding-right: 5px;
      }
      .occurance, .views {
        display: inline-block;
        margin: 10px 0;
          a{
            font-size: 12px;
            color:#fff;
          }
      }
      .grid-one-big{
          position: relative;
          text-align: center;
          .bx-wrapper{
            box-shadow: none;
            border: transparent;
            margin-bottom: -10px;
          }
          .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
            bottom: 10px;
          }
          .banner-image{
            position: relative;
            img{
              height: 225px;
            }
            .banner-overlay{
              background: rgba(0, 0, 0, 0.4);
              position: absolute;
              top: 0;
              height: 225px;
              width: 100%;
            }/* banner-overlay */
          }/* banner-image */
          .description{
            position: absolute;          
            bottom: 0;
            width: 100%;
            height: auto;
            color:#fff;
            h3:first-child{
              margin-top:10px;
            }
            h3{
              text-transform: uppercase;
              padding: 0 10px;
              text-align: center;
            }
            p{
              color: #fff;
              text-align: left;
              padding: 0 15px;
              max-height: 40px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }/*description*/
          .sources{
            float: left;
            padding: 10px 20px;
            display: inline-block;
            padding-left: 0px;
          }
          .scandal-category{
            display: inline-block;
            .views{
              margin:0px;
              p{
                margin: 0px;
              }
            }/* views */
            .category{
              a{
                color:#fff;
              }
            }/* category */
            .occurance{
              margin: 0px;
              p{
                margin: 0px;
                padding: 5px 15px 0px 0px;
              }
            }/* occurance */
            .category{
                text-align: left;
              }/* category */
            }/* scandal-category */
        }/* grid-one-big */
      .description{
          text-overflow: ellipsis;
          overflow: hidden;
          width: 160px;
          height: 1.2em;
          min-height: 60px;
          margin: 10px 0;
        }
        .view-all{
          position: absolute;
          top: 25px;
          right: 10px;
          background: none;
          border: none;
          i{
            color: @brand-primary;
          }
        }
        .menu{
          position: absolute;
          right: 7%;
          top: 7%;
          margin: 5px;
          background: transparent;
          border: none;
          color: #f5e6d3;
          outline: none;
          &:hover{
            color: @brand-primary;
          }
      }
      .mobile-headline-wrapper{
          width: 100%;
          overflow-y: scroll;
          
        }
      .mobile-headline{

        #headline{
          display: inline-block;
          position: relative;
          .news-part{
            position: absolute;
            bottom: 5%;
            padding: 0px 10px;
          }
            p{
              color: #fff;
            }
          #header-image{
            img{
              width: 90%;
            }
          }
        }
      }
  #menu{
    .primary-menu{
          margin-top: 20px; 
      #search input[type="text"]{
          background: #f1f1f1;
          border: none;
          padding: 10px;
          width: 100%;
          position: relative;
          outline:none;
          ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #d2d2d2;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            color: #d2d2d2;
          }
          :-ms-input-placeholder { /* IE 10+ */
            color: #d2d2d2;
          }
          :-moz-placeholder { /* Firefox 18- */
            color: #d2d2d2;
          }
      }
      #search .search-icon {
            position: absolute;
            top: 30%;
            right: 6%;
        }
      .read-mode-on, .read-mode:hover  {
          background-image: url(../images/read-mode-on.png);
          height: 40px;
          width: 30px;
          background-repeat: no-repeat;
          cursor: pointer;
          display: inline-block;
          margin: 0px 10px 0px 10px;
      }
      .read-mode-off{
          background-image: url(../images/read-mode-off.png);
          height: 40px;
          width: 30px;
          background-repeat: no-repeat;
          display: inline-block;
          margin: 0px 10px 0px 10px;
      }
      .watch-mode {
          background-image: url(../images/watch-mode-off.png);
          height: 40px;
          width: 40px;
          background-repeat: no-repeat;
          display: inline-block;
          margin: 0px 10px 0px 10px;
      }
      .watch-mode:active,.watch-mode:hover {
          background-image: url(../images/watch-mode-on.png);
          height: 40px;
          width: 40px;
          background-repeat: no-repeat;
          cursor: pointer;
          display: inline-block;
          margin: 0px 10px 0px 10px;
      }
    }/* primary menu*/
    .login {
        padding: 1%;
        margin-top: 10px;
        a{
          color: #343434;
        }
    }
    .secondary-menu{
        .navbar{
        border-top: 1px solid @brand-primary;
        border-bottom: 1px solid @brand-primary;
        background: none;
        box-shadow: none;
        border-left: transparent;
        border-right: transparent;
        border-radius: 0px;
        margin: 20px auto;
      }
      .navbar-default .navbar-nav>.active>a {
        background: transparent;
        box-shadow: none;
        color: @brand-primary;
      }
      .navbar-default .navbar-nav>li>a:hover {
        color: @brand-primary;
      }
      .navbar-nav .last-item {
        border: 1px dashed red;
        border-radius: 5px;
        background: #dfdfdf;
        padding: 5px;
        margin: 8px;
      }
    }/* secondary Menu*/
  } /* menu */
  #main-headlines{
    text-align: center;
    position: relative; 
    .modal-dialog{
            width: 680px;
          }
    .modal-header{
      text-align: left;
      .views{
        p{
          color: #fff;
        }
      }
      button.close {
        color: #fff;
        font-size: 40px;
      }
    }
    .modal-content{
            background: rgba(0,0,0,0.9);
            border: none;
            box-shadow: none;
            .video-js .vjs-big-play-button{
              top:45%;
              left:45%;
            }
    }
    .modal-title{
      color: #fff;
      margin-top: 15px;
    }
    .theVideoPlayer {
            background: rgba(0, 0, 0, 0.9);

        p{
          color: #fff;
          margin: 20px 0;
        }
    }
    #headline {
      display: inline-block;
      width: 25%;
      position: relative;
    }/*headline*/
    .overlay{
      background: -moz-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(12,13,13,1) 100%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(12,13,13,1))); /* safari4+,chrome */
      background: -webkit-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(12,13,13,1) 100%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(12,13,13,1) 100%); /* opera 11.10+ */
      background: -ms-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(12,13,13,1) 100%); /* ie10+ */
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(12,13,13,1) 100%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0c0d0d',GradientType=0 ); /* ie6-9 */
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    #header-image{
        height: 478px;
        img{
          width: 100%;
          height: auto;
        }
      }
    .news-part {
      position: absolute;
      bottom: 0;
      padding: 10px 8px;
      height: 45%;
      text-align: left;
      color: #fff;
    }
  }/*main-headlines*/
  .adblock {
    margin-bottom: 30px;
  }
  .world-news {
     background: #eeeeee;
     margin: 20px 0;
      padding-bottom: 20px;
    .grid-one-big .banner-image img {
      height: auto;
    }
    .grid-one-big .banner-image .banner-overlay {
      height: 466px;
    }
    .grid-one-big .description {
      bottom: 0;
      text-align: left; 
    }
    .atw-wrapper {
      .preButton{
        z-index: 999;
        top:46%;
      }
      .nextbtn {
        top:46%;
      }
    }
  }
  #section-two,.related-news{
     .topic-name{
      text-transform: uppercase;
      font-size: 3em;
      font-family: 'Lato Bold';
      color: @brand-primary;
    }
      #news-desk {
          width: 49%;
          display: inline-block;
          position: relative;
          vertical-align: top;
      }
      #scandal-watch{
        width: 49%;
        display: inline-block; 
        vertical-align: top;
        position: relative;
        .think-tank{
          .grid-one{
            border:1px solid #afb0b1;
          }
        }
        h2{
          text-transform: uppercase;
        }
      }/* scandal-watch */
        .grid-one {
            position: relative;
            width: 48.5%;
            display: inline-block;
            vertical-align: top;
            margin: 0 2px;
            img{
              height: 180px;
            }
            .banner-contents{
              padding: 10px;
              .category{
                margin: 10px 0;
              }
              .description{
                width: 100%;
              }
            }
            .banner-image{
              position: relative;
              .lower-buttons {
                position: absolute;
                bottom: 0;
                padding: 10px 2px;
            }
              .banner-overlay{
                background: rgba(0, 0, 0, 0.4);
                position: absolute;
                top: 0;
                height: 285px;
                width: 100%;
              }/* banner-overlay */
            }/* banner-image */
             h3{
                margin: 5px 0px;
              }
              .occurance, .views {
                margin: 5px 0;
                p{
                  margin: 0;
                }
              }
              .description{
                margin: 5px 0;
              }
            .contents {
              position: absolute;
              height: 180px;
              bottom: 0;
              width: 100%;
              .sources{
                position: absolute;
                bottom: 0;
                width: 285px;
                margin: 10px 5px;
              }/* sources */
            }/* contents */
        }/* grid-one */
        .grid-two{
          width: 49%;
          display: inline-block;
          vertical-align: top;
          position: relative;
          padding: 0px 10px;
          img{
            height: 180px;
          }
           .contents {
              position: absolute;
              height: 180px;
              bottom: 0;
              width: 100%;
              .menu{
                  position: absolute;
                  right: 7%;
                  top: 7%;
                  margin: 5px;
                  background: transparent;
                  border: none;
                  color: #f5e6d3;
                  outline: none;
                  &:hover{
                    color: @brand-primary;
                  }
              }
              .sources{
                position: absolute;
                bottom: 0;
                width: 100%;
                margin: 10px 5px;
              }/* sources */
            }/* contents */
          h3{
            margin: 5px 0px;
          }
          .occurance, .views {
            margin: 5px 0;
            p{
              margin: 0;
            }
          }
          .description{
            margin: 5px 0;
          }
        }/* grid-two*/
    }/* section-two */
    #around-the-world{
      margin-bottom: 20px;
      position: relative;
  }/* around-the-world*/
}/* wrapper */
.footer {
    background: #1c3144;
    p{
      color: #fff;
      margin: 14px 0;
      display: inline-block;
    }
    .fa{
        color: #fff;
        padding: 5px;
        margin-left: 10px;
    }
    .gray{
      background: #d8d8d8;
    }
}
.social-icons{
  float: right;
}
.social-button{
  padding: 5px 10px;
  color: #fff;
}
.t-button{
  background: #40b5e5;  
}
.fb-button{
  background: #2272b4;
}
.related-news {
  text-align: center;
  background: #eeeeee;
  padding: 20px 0;
  margin-bottom: 30px;
  .grid-one{
    width: 24% !important; 
    .banner-contents {
      text-align: left;
    } 
  }
  
}

// --------------------- media-queries -----------------------
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  #wrapper #section-two .grid-two img {
    width: 100%;
    height: auto;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width : 320px) {
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
  #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  #wrapper #section-two .grid-two img {
    width: auto;
    height: auto;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
  #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  #wrapper #section-two .grid-two img {
    width: auto;
    height: auto;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
  #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  #wrapper #section-two .grid-two img {
    width: auto;
    height: auto;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  #wrapper #section-two .grid-two img {
    width: auto;
    height: auto;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

/**********
iPad 3
**********/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
#wrapper #main-headlines #headline{
    width: 24%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  #wrapper #section-two .grid-two img {
    width: 100%;
    height: auto;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
#wrapper #main-headlines #headline{
    width: 49%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

/* Desktops and laptops ----------- */

@media only screen  and (min-width : 1224px) {
  #search,.news-switcher {
    margin: 15px 0;
  }
  .mobile-headline-wrapper{
    display: none;
  }
  #main-headlines{
    display: block;
  }

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
.mobile-headline-wrapper{
    display: none;
  }
  #main-headlines{
    display: block;
  }
}

/* iPhone 4 ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

/* iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
  #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #section-two .grid-two {
    padding: 0px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
#wrapper #main-headlines #headline{
    width: 100%;
  }
  #search,.news-switcher {
    margin: 15px 0;
  }
   #wrapper #main-headlines #headline{
    width: 100%;
  }
  #wrapper #section-two #news-desk {
    width: 100%
  }
  #wrapper #section-two #scandal-watch {
    width: 100%;
  }
  #wrapper #section-two .grid-one {
    width: 100%;
  }
  #wrapper #around-the-world .atw-wrapper .news1, #wrapper #around-the-world .atw-wrapper .news2 {
    width: 100%;
  }
  .mobile-headline-wrapper{
    display: block;
  }
  #main-headlines{
    display: none;
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-one, #wrapper #around-the-world .atw-wrapper .news2 .grid-one {
    width: 100%
  }
  #wrapper #around-the-world .atw-wrapper .news1 .grid-two, #wrapper #around-the-world .atw-wrapper .news2 .grid-two{
    width: 100%;
    margin-top: 10px;
  }
  #wrapper #around-the-world .atw-wrapper .nextbtn,#wrapper #around-the-world .atw-wrapper .preButton{
    display: none;
  }
  #wrapper #section-two .grid-two {
    width: 100%;
    margin-top: 10px;
  }

}



