<div id="main-headlines" class="col-sm-12">
    <div *ngFor="let item of data; let i = index" id="headline" class="col-sm-3" style="padding-right: 0px;padding-left:0px; cursor: hand;" routerLink="/news-landing">

        <div [style.display]="j==0?'block':'none'" *ngFor="let subitem of item.sources;let j = index" id="imgsource{{j}}">
            <div class="overlay"></div>
            <div id="header-image">
                <img src={{subitem.image}} title="">
            </div>
        </div>

        <div class="news-part">
            <div [style.display]="k==0?'block':'none'" *ngFor="let subitem of item.sources;let k = index" id="detailsource{{k}}">
                <div class="category pink">
                    <a href="politics">Politics</a>
                </div>
                <div class="description">
                    <p>{{subitem.description}}</p>
                </div>
                <div class="occurance">
                    <a href="">{{subitem.showdate}}</a>
                </div>
                <div class="views">
                    <p><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{subitem.views}}</p>
                </div>
            </div>
            <div class="sources">
                <!-- <button *ngFor="let subitem of item.sources;let l = index" id="btnsource{{l}}" [attr.class]="l==0?'active':''">Source {{l}}</button> -->
                <button id="btnsource0" class="active">Source 1</button>
                <button id="btnsource1">Source 2</button>
                <button id="btnsource2">Source 3</button>
            </div>
        </div>

    </div>

    <!-- headline-1 -->
</div>
<!-- main-headlines -->