<div class="main-grid">
    <div class="left-grid-main">

        <h2>{{data.title}}</h2>
        <div class="occurance">
            <p class="grey" href="">{{data.occurance}}</p>
        </div>
        <!-- occurance -->
        <div class="bookmark clearfix">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i><a href="">&nbsp;READ LATER</a>
            <div class="social-icons">
                <i class="fa fa-facebook social-button fb-button" aria-hideen="true"> Share</i>
                <i class="fa fa-twitter social-button t-button" aria-hideen="true"> Tweet</i>
            </div>
            <!-- socual-icons -->
        </div>
        <!-- bookmark -->

        <div class="news-list">
            <div class="left-grid">
                <img src="{{data.image}}">
            </div>
            <!-- left-grid -->
            <div class="right-grid">
                <div class="right-description">
                    {{data.description}}
                </div>
                <div class="bookmark-readmore">
                    <a href="{{data.redMoreLink}}">&nbsp;READ FULL STORY </a><i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
                <!-- bookmark -->

            </div>
            <!-- right-grid -->
        </div>
        <!-- news-left -->
        <div class="tags">
            <ul>
                <li><i class="fa fa-tag" aria-hidden="true"></i></li>
                <li>Tag 1</li>
                <li>Tag 2</li>
                <li>Tag 3</li>
                <li>Tag 4</li>
                <li>Tag 5</li>
            </ul>
        </div>
        <div class="right-grid">

        </div>
        <!-- right-grid -->
    </div>
    <!-- news-list -->
    <img src="http://placehold.it/700x150">
</div>